.snakemake/
test/lineage_tree/*.fa
test/lineage_tree/*.state
test/lineage_tree/*.mldist
test/lineage_tree/*.ckp.gz
test/lineage_tree/*.bionj
test/lineage_tree/*.iqtree
test/lineage_tree/*.log
test/lineage_tree/*.db
test/lineage_tree/*_homoplasy.txt
test/lineage_tree/*.pos
